Workflow json file
{
  "name": "WhatsApp AI Agent Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "whatsapp-trigger",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [260, 300]
    },
    {
      "parameters": {
        "model": "gpt-3.5-turbo",
        "options": {
          "temperature": 0.7,
          "maxTokens": 1000
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.chatOpenAi",
      "typeVersion": 1,
      "position": [600, 140],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {},
      "id": "simple-memory",
      "name": "OpenRouter Chat Simple Memory Model",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [90, 400]
    },
    {
      "parameters": {},
      "id": "memory-db",
      "name": "Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1,
      "position": [200, 400],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendarId": "primary"
      },
      "id": "calendar-read",
      "name": "Calendar Read",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [360, 520],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "google-calendar-credentials",
          "name": "Google Calendar OAuth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "calendarId": "primary"
      },
      "id": "calendar-create",
      "name": "Calendar Create",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [470, 520],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "google-calendar-credentials",
          "name": "Google Calendar OAuth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendarId": "primary"
      },
      "id": "calendar-delete",
      "name": "Calendar Delete",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [580, 520],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "google-calendar-credentials",
          "name": "Google Calendar OAuth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": "={{ $json.sheetId }}",
        "sheetName": "Sheet1"
      },
      "id": "sheets-read",
      "name": "Sheets Read",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [720, 520],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-credentials",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": "={{ $json.sheetId }}",
        "sheetName": "Sheet1"
      },
      "id": "sheets-add-rows",
      "name": "Sheets Add Rows",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [830, 520],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-credentials",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": "={{ $json.sheetId }}",
        "sheetName": "Sheet1"
      },
      "id": "sheets-update-rows",
      "name": "Sheets Update Rows",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [940, 520],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-credentials",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "AI Agent Response",
        "message": "={{ $json.response }}"
      },
      "id": "send-gmail",
      "name": "Send a message in Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1160, 520],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-credentials",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.response }}"
      },
      "id": "whatsapp-send",
      "name": "Send message",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [970, 140],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp-credentials",
          "name": "WhatsApp API"
        }
      }
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Calendar Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "Calendar Create",
            "type": "main",
            "index": 0
          },
          {
            "node": "Calendar Delete",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sheets Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sheets Add Rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sheets Update Rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message in Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Simple Memory Model": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-08-16T12:00:00.000Z",
  "versionId": "1"
}
